* {
  box-sizing: border-box;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  background: rgb(75, 255, 250);
  background: linear-gradient(0deg, rgba(75, 255, 250, 1) 15%, rgba(121, 173, 255, 1) 100%) no-repeat;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-family: 'Schoolbell', cursive;
  text-wrap: nowrap;
  width: 90%;
}

.img-one {
  position: relative;
  top: 75px;
  left: 275px;
  scale: .70;
  z-index: -1;
}

.img-two {
  position: relative;
  top: 50px;
  right: 230px;
  scale: .70;
  z-index: -1;
}

h1 {
  position: relative;
  top: -50px;
  left: -35px;
  transform: rotate(-6deg)
}

.tagline {
  position: relative;
  top: -200px;
  left: 75px;
  font-size: 2.5em;
  width: 250px;
  margin-bottom: -157px;
  text-align: center;
  text-wrap: wrap;
  transform: rotate(1deg);
  font-family: 'Schoolbell', cursive;
}

.search-container {
  display: flex;
  position: relative;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  border-radius: 10px;
  width: 70%;
  box-shadow: 2px 2px 4px 1px rgba(0, 17, 172, 0.288),
    -2px -2px 2px 3px rgba(89, 255, 255, 1),
    inset 1px 1px 4px 1px rgba(37, 0, 118, 0.225),
    inset -2px -2px 4px 2px rgb(147, 255, 255);
}

.search-container input,
.search-container .suggestions {
  position: relative;
  background-color: blueviolet;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 4px rgba(0, 47, 121, .5);
}

.search-container input {
  background-color: rgb(179, 246, 255);
  height: 40px;
  padding-left: 10px;
  border: 0px solid black;
  box-shadow: 1px 1px 4px 1px rgba(37, 0, 118, 0.33),
    -2px -2px 2px 2px rgba(89, 255, 255, 1)
}

input {
  position: relative;
  border-radius: 5px;
}

.search-container .suggestions {
  border: 2px solid black;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(187, 230, 255, 1);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(0, 47, 121);
}

ul li {
  list-style-type: none;
  font-family: cursive;
  font-size: 30px;
  padding: 10px;
  text-wrap: nowrap;
  width: 100%;
  box-shadow: inset 0 0 0 0 blueviolet;
  color: black;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 17, 172, 0.25);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(37, 0, 118, 0.25);
  transition: .1s
}

ul li:hover {
  background-color: blueviolet;
  box-shadow: 2px 2px 5px rgb(0, 47, 121),
    -1px -1px 4px rgb(155, 193, 255);
  color: rgb(97, 252, 255);
  text-shadow: 2px 2px 4px rgba(0, 17, 172, 1);
}

ul li:active {
  box-shadow: inset 2px 2px 5px 2px rgb(0, 47, 121),
    inset -2px -2px 4px 1px rgb(155, 193, 255);
  color: rgb(97, 252, 255);
  text-shadow: 1px 1px 4px rgb(0, 13, 129);
}

.result-box {
  border: 1px dotted black;
  border-radius: 15px;
  box-shadow: 2px 2px 4px 1px rgba(0, 17, 172, 0.288),
    -2px -2px 2px 3px rgba(89, 255, 255, 1),
    inset 1px 1px 4px 1px rgba(37, 0, 118, 0.225),
    inset -2px -2px 4px 2px rgb(123, 223, 223);
  margin-top: 15px;
  padding: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
}

.result-title {
  margin-bottom: 20px;
  margin-top: -10px;
  font-family: 'Schoolbell', cursive;
  font-size: 60px;
  font-weight: 900;
  text-wrap: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 17, 172, 0.25);
}

a {
  padding: 20px;
  margin-bottom: 15px;
  font-family: 'Schoolbell', cursive;
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, .1);
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5),
    -3px -4px 0px rgba(164, 250, 255, .75);
  background-color: rgb(251, 255, 0);
  border: 2px solid transparent;
}

a:hover {
  padding: -2px;
  background-color: blueviolet;
  color: rgb(251, 255, 0);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  border: 2px solid yellow;
}